.App {
  text-align: center;
  padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 165px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.SearchBox {
   height: 100%;
}


.result-list {
  height: 50vh;
  overflow: auto;
  padding: 7px;
  display: block;
  margin: 0;
}


.result-list-item {
  height: 165px;
  white-space: pre-wrap;
  text-align: left;
  list-style: none;
  border: 1px solid #ddd;
  font-size: 12px;
  margin: 0;
  padding: 4px;
  overflow: hidden;
}

.result-list-item label {
  margin: 0 2px 0;
  display: inline;
}

.result-list-item-thumb {
  max-width: 120px;
  max-height: 90px;
  margin: 0 0 0 35%;
}

.LoadMoreButton {
  margin: auto;
}

.play-button {
  padding: 0 !important;
  width: 100%;
}

.main-container {
  padding: 7px;
  border: 7px solid #333;
  height : 80vh;
  margin: 0 !important;
}

.main-container:eq(0) {
  margin-left: 20px !important;
}

.videoPlayer {
  height: 100%;
  width: 100%;
}